.section {
    &#products {
        height: 600vh;
        max-width: 100vw;
        margin-top: -100vh;
        .section__wrapper {
            overflow: hidden;
            max-width: 100vw;
            .products__galaxy {
                @include position-absolute();
                z-index: 10;
                @include rwd-max(map-get($grid-breakpoints, sm)){
                    img {
                        scale: .7;
                    }
                }
            }
            .products_step-one {
                max-width: 1158px;
                @include position-absolute();
                p {
                    font-weight: 500;
                    font-size: 40px;
                    line-height: 125%;
                    text-align: center;
                    letter-spacing: 0.02em;
                    @include rwd-max(map-get($grid-breakpoints, lg)){
                        font-size: 32px;
                    }
                    @include rwd-max(map-get($grid-breakpoints, sm)){
                       font-size: 22px;
                    }
                    span {
                        &:nth-child(1){
                            position: relative;
                            display: inline-block;
                        }
                    }
                }
            }
            .products_step-two {
                .products__screens {
                    text-align: center;
                    .products__screen {
                        @include rwd-max(map-get($grid-breakpoints, sm)){
                            img {
                                width: 101px;
                            }
                        }
                        &:not(.active) {
                           @include position-absolute;
                        }
                        &.active {
                            position: relative;
                            z-index: 2;
                            @include rwd-max(map-get($grid-breakpoints, sm)){
                                img {
                                    width: 142px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}