$elements-count: 8;
$rotation-speed: 20s;

.section {
    &#team {
        height: 320vh;
        margin-top: -100vh;
        .section__wrapper {
            height: 100dvh;
        }
        .team__wrapper {
            width: 370px;
            height: 370px;
            margin: auto;
            position: relative;
            @include rwd-max(map-get($grid-breakpoints, sm)){
                width: 232px;
                height: 232px;
            }
            .items-circle {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                animation: rotate $rotation-speed linear infinite;
                & > span {
                    position: absolute;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    transform-origin: 185px 185px;
                    opacity: 0;
                    transform: scale(0);
                    will-change: scale;
                    image-rendering: high-quality;
                    @include rwd-max(map-get($grid-breakpoints, sm)){
                        width: 42px;
                        height: 42px;
                        transform-origin: 117.5px 117.5px;
                    }
                    @for $i from 1 through $elements-count {
                        &:nth-child(#{$i}) {
                            transform: rotate(calc(360deg / $elements-count * #{$i})) translate(150px);
                            picture {
                                animation: rotate-item $rotation-speed linear infinite reverse;
                                display: block;
                                will-change: scale;
                                image-rendering: high-quality;
                                img {
                                    transform: rotate(calc(360deg -  360deg / $elements-count * #{$i}));
                                    backface-visibility: hidden;
                                    will-change: scale;
                                    image-rendering: high-quality;
                                    //border-radius: 50%;
                                    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.38));
                                    width: 60px;
                                    height: 60px;
                                    @include rwd-max(map-get($grid-breakpoints, sm)){
                                        width: 42px;
                                        height: 42px;
                                    }
                                }
                            }
                        }
                    }
                }
                & + p {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    text-align: center;
                    width: 100%;
                    max-width: 290px;
                    font-weight: 600;
                    font-size: 30px;
                    line-height: 125%;
                    letter-spacing: 0.02em;
                    color: #FFFFFF;  
                    @include rwd-max(map-get($grid-breakpoints, sm)){
                        font-size: 20px;
                        max-width: 200px;
                        margin-top: -20px;
                    }
                }
            }
            & + p {
                margin: auto;
                margin-top: 106px;
                width: 100%;
                max-width: 859px;
                font-size: 24px;
                line-height: 125%;
                text-align: center;
                letter-spacing: 0.02em;
                color: #FFFFFF;
                position: absolute;
                @include rwd-max(map-get($grid-breakpoints, sm)){
                    max-width: 346px;
                    font-size: 16px;
                }
            }
        }
    }
}